<form class="filter" id="auction_filter">
    <div class="filter-element-wrapper">
        <input class="filter-input" type="text" id="auction_name" placeholder="Название торгов">
    </div>
    <div class="filter-element-wrapper">
        <input class="filter-input" type="text" id="auction_organizer" placeholder="Организатор">
    </div>

    <div id="multi-select-wrapper" class="filter-element-wrapper"></div>

    <div class="filter-actions">
        <button type="button" class="filter-button" id="auction_filter-search">Поиск</button>
    </div>
</form>
