<div class="multiselect" id="multi-select">
    <label class="multiselect-label">Статус аукциона:</label>
    <div id="overlay" class="overlay"></div>

    <div id="pick-values" class="pick-values"></div>

    <div class="multiselect-options" id="multi-select-options">
        <label class="multiselect-option" for="auction_status_0"><input class="multiselect-checkbox" type="checkbox" id="auction_status_0">Запланирован</label>
        <label class="multiselect-option" for="auction_status_1"><input class="multiselect-checkbox" type="checkbox" id="auction_status_1">Идет</label>
        <label class="multiselect-option" for="auction_status_2"><input class="multiselect-checkbox" type="checkbox" id="auction_status_2">Завершен</label>
    </div>
</div>
